@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body{
    background-image: url(med.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*background-color: rgb(159, 253, 222);
    background-blend-mode: darken;*/
}
.login-box{
    width:280px;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%,-50%);
    color: #18af1e;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #18af1e;
    margin-bottom: 60px;
    pad: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
    color: rgb(7, 37, 14);
}
.textbox input{
    border: none;
    outline: none;
    background-color: transparent;
    color:rgb(0, 0, 0);
    font-size: 18px;
    float: left;
}
.butt{
    float: right;
    width: 50%;
}


#btn1{
    cursor: pointer;
    outline: none;
    color:white;
    font-weight: bold;
    padding: 10px 25px;
    box-shadow: 0 4px 12px 0 rgba(var(--shadow-btn-primary,27,169,76),.5);
    background:#1ba94c;
    border-radius: 10px;  
}
#btn1:hover{
    background:#13662f;
    border-color: rgb(157, 255, 0);
}
#btn1:active{
    background: #028109;
}

#check{
    color: #000;
}
